 #odysseyLeftSide{
    width:540px;
    height:659px;
    margin-left:40px;
    padding-left: 40px;
    padding-right: 112px;
 }
 #odysseyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color:#333333;
 }
 #odysseyUl{
 margin-left:-41px;
 font-family: 'Questrial', sans-serif;
 font-size: 16px;
 color:#333333;
 }
 .odysseyLi{
    margin-bottom: 15px;
 }
 #odysseyMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#odysseyImg{
    width: 693px;
    height:400px;
}
.dailyImg, .allAgesImg{
    width: 391px; 
    height: 398px;
}
#forAllMain, #dailyMain{
display: flex;
flex-direction: row;
}
#spaceMainImg{
  width: 1425px;
  height: auto;
}
.line{
    width: 253px;
    height: 10px;
    
}

 h5{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #212121;
 }

 .productsDesc{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #666666;

 }

 #dailyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color: #333333;
 }
 .dailyParagraph{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color:#333333;
 }
 #leftSideDailyDiv{
    width: 316px;
    height:490px;
    margin-left:80px;
  
 }
 #rightDivsDaily{
     display: flex;
     flex-direction: row;
     margin-left:150px;
 }
.dailyProductsDivs{
    text-align: center;
}
#seeAllP{
 margin-top:241px;
}
#seeAllArrow{
    margin-top: -300px;
    margin-left:100px;
}
#spacesMain{
    margin-top:150px;
    margin-left:80px;
}
#topspacesDiv{
    display:flex;
    flex-direction: row;
    margin-bottom: 50px;
}
#topspacesLeft{
margin-right: 50px;
}
#topspacesRight{
margin-left: 350px;
}
#spacesHeader{
font-family: 'Questrial', sans-serif;
font-size: 21px;
color: #333333;
}
#topspacesP{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333;
}
#bottomSpacesDiv{
    display:flex;
    flex-direction: row;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333;
}
#addressSpaces{
    margin-bottom: 150px;
    margin-left: 500px;

 
}

#address{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333; 
}
#forAllMain{
    margin-left: 80px;
}
#forAllItemsDiv{
    display: flex;
    flex-direction: row;
    margin-left:180px;
}
.forAllItems{
text-align: center;
}
.textAllAgesLeft{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333; 
}
#forAllLeft{
    width: 300px
}