 #odysseyLeftSide{
    width:540px;
    height:659px;
    margin-left:40px;
    padding-left: 40px;
    padding-right: 112px;
 }
 #odysseyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color:#333333;
 }
 #odysseyUl{
 margin-left:-41px;
 font-family: 'Questrial', sans-serif;
 font-size: 16px;
 color:#333333;
 }
 .odysseyLi{
    margin-bottom: 15px;
 }
 #odysseyMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#odysseyImg{
    width: 693px;
    height:400px;
}
.dailyImg, .allAgesImg, .productTileImg {
    width: 391px; 
    height: 398px;
}
#forAllMain, #dailyMain, .staplesWrapper{
display: flex;
flex-direction: row;
}
#spaceMainImg{
  width: 1425px;
  height: auto;
}
.line{
    width: 253px;
    height: 10px;
    
}

 h5{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #212121;
 }

 .productsDesc{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #666666;

 }

 #dailyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color: #333333;
 }
 .dailyParagraph{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color:#333333;
 }
 #leftSideDailyDiv{
    width: 316px;
    height:490px;
    margin-left:80px;
  
 }
 #rightDivsDaily{
     display: flex;
     flex-direction: row;
     margin-left:150px;
 }
.dailyProductsDivs{
    text-align: center;
}
#seeAllP{
 margin-top:241px;
}
#seeAllArrow{
    margin-top: -300px;
    margin-left:100px;
}

/* CSS for Sione's components */

.staplesWrapper {
   text-align: center;
   margin-top: 30px;
   margin-bottom: 30px;
   width: 100%;
}

.descWrap {
   font-family: 'Questrial', sans-serif;
   font-size: 30px;
   text-align: left;
   color: #333333;
   display: flex;
   flex-direction: column;
   height:490px;
   min-width: 20%;
   margin-left:80px;
}
.descWrap p {
   font-family: 'Questrial', sans-serif;
   font-size: 14px;
   color: #333333;
}

.outsideDiscoverWrap {
   width: vw;
   /* background-color: fuchsia; */
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 50px;
}

.discoverMoreWrap {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   /* background-color: forestgreen; */
   max-width: 50%;
   min-width: 30%;
   padding-left: 80px;
}

.ulWrap {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.ulWrap ul {
   padding-left: 0%;
   padding-right: 50px;
   color: black;
}

.ulWrap ul li a{
   color: black;
   text-decoration: inherit;
}

#discoverImg {
   height: 200px;
   width: auto;
   position: relative;
}

#spacesMain {
    margin-top:150px;
    margin-left:80px;
}

#topspacesDiv{
    display:flex;
    flex-direction: row;
    margin-bottom: 50px;
}
#topspacesLeft{
margin-right: 50px;
}
#topspacesRight{
margin-left: 350px;
}
#spacesHeader{
font-family: 'Questrial', sans-serif;
font-size: 21px;
color: #333333;
}
#topspacesP{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333;
}
#bottomSpacesDiv{
    display:flex;
    flex-direction: row;
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333;
}
#addressSpaces{
    margin-bottom: 150px;
    margin-left: 500px;

 
}

#address{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333; 
}
#forAllMain{
    margin-left: 80px;
}
#forAllItemsDiv{
    display: flex;
    flex-direction: row;
    margin-left:180px;
}
.forAllItems{
text-align: center;
}
.textAllAgesLeft{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #333333; 
}
#forAllLeft{
    width: 300px
}