.dailyImg, .allAgesImg{
    width: 391px; 
    height: 398px;
}
#forAllMain, #dailyMain{
display: flex;
flex-direction: row;
}
#spaceMainImg{
  width: 1425px;
  height: auto;
}
.line{
    width: 253px;
    height: 10px;
    
}

 h5{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #212121;
 }

 .productsDesc{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color: #666666;

 }

 #dailyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color: #333333;
 }
 .dailyParagraph{
    font-family: 'Questrial', sans-serif;
    font-size: 14px;
    color:#333333;
 }
 #odysseyLeftSide{
    width:540px;
    height:659px;
    margin-left:40px;
    padding-left: 40px;
    padding-right: 112px;
 }
 #odysseyHeader{
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    color:#333333;
 }
 #odysseyUl{
 margin-left:-41px;
 font-family: 'Questrial', sans-serif;
 font-size: 16px;
 color:#333333;
 }
 .odysseyLi{
    margin-bottom: 15px;
 }
 #odysseyMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#odysseyImg{
    width: 693px;
    height:400px;
}